<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<%= form_for @user, url: sessions_path do |f| %>

  <%= f.label :username %>
  <%= f.text_field :name %>

  <%= f.submit "Log-In" %>
<% end %>