<%= render_validation_errors(@event) %>
<div class="row center-xs middle-xs mt-5">
  <div class="col-md-6 col-sm-8 col-xs-12">
    <div class="row start-xs">
      <div class="window w-100">
        <div class="title-bar">
          <div class="title-bar-text">Want to hear some Britney Spears?</div>
        </div>
        <div class="window-body">
          <h4>Create a new event</h4>
          <%= form_for @event, url: events_path do |f| %>

            <div class="field-row-stacked">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>

            <div class="field-row-stacked">
              <%= f.label :location %>
              <%= f.text_field :location %>
            </div>

            <div class="field-row-stacked">
              <%= f.label :date %>
              <%= f.date_field :date %>
            </div>

            <div class="field-row-stacked">
              <%= f.label :description %>
              <%= f.text_area :description %>
            </div>
            <div class="flex justify-end mt-3">
              <button>Create</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
