<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<div>This are events</div>

<%= render @events %>

<%= form_for @event, url: events_path do |f| %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :date %>
  <%= f.date_field :date %>

  <%= f.submit "Create Event" %>
<% end %>