<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">An event manager from the future</div>
        <div class="title-bar-controls">
          <% if user_logged_in %>
            <%= link_to destroy_session_path, method: :delete do %>
              <button aria-label="Close"></button>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="window-body">
        <%= render 'partials/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
